.idea.teaser.hentry
  .the-current
    %h4.posted
      Current created
      %abbr.published.time-relative
        = time_ago_in_words(current.created_at)
        ago
      by
      %span.vcard.author
        - if current.inventor
          = link_to current.inventor.name, profile_path(current.inventor), :class => current.inventor.admin? ? 'fn url admin' : 'fn url'
    %h3.entry-title= link_to current.title, current_path(current)
    - current_ideas = search_ideas(:search => ['current', current.id])
    %div
      %p= current.description
      %p= link_to 'Submit ideas!', params[:action] == "show" ? "#add_idea" : current_path(current, :anchor=>"add_idea")
      %ul.entry-meta
        %li.ideas
          = current_ideas.total_entries
          %span.points= "idea#{current_ideas.total_entries == 1 ? '' : 's'}"
          in this current
